USE [master]
GO
/****** Object:  Database [ServerInfoService]    Script Date: 23.11.2018 20:52:55 ******/
CREATE DATABASE [ServerInfoService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServerInfoService', FILENAME = N'C:\Database\ServerInfoService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServerInfoService_log', FILENAME = N'C:\Database\ServerInfoService_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServerInfoService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServerInfoService]
GO
USE [ServerInfoService]
GO
/****** Object:  Table [dbo].[Ports]    Script Date: 23.11.2018 20:52:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[port] [int] NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_Ports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receivers]    Script Date: 23.11.2018 20:52:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_surname] [varchar](50) NULL,
	[mail] [varchar](75) NULL,
 CONSTRAINT [PK_Receivers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server_Info]    Script Date: 23.11.2018 20:52:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server_Info](
	[key_str] [varchar](50) NOT NULL,
	[value_str] [varchar](50) NULL,
 CONSTRAINT [PK_Server_Info] PRIMARY KEY CLUSTERED 
(
	[key_str] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
